.DS_Store
.dart_tool/
.flutter-plugins
.idea/

.packages
.pub/

build/
ios/
android/

.flutter-plugins
.metadata
endorphin.iml
endorphin_android.iml
pubspec.lock

#exception for ios app setting file
!ios/Runner/Info.plist
